header {
    background-color: rgb(6, 9, 78);
    color: rgb(201, 210, 210);
    padding-right: 20px;
    padding-left: 20px;


}

.d1 {
    background-color: rgba(240, 248, 255, 0.686);
    border: none;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    padding: 10px;


}

.d2 {
    background-color: rgba(240, 248, 255, 0.686);
    border: none;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    padding: 20px;

}
p{
    padding: 10px;
}

.img {
    margin: 20px 20px 20px 20px;
    border-radius: 5px;

}

#himg {
    border-radius: 15px;
}
img{
    border-radius: 50px;
}

footer {
    background-color: rgb(10, 7, 30);
    color: rgb(199, 170, 51);
    margin: 20px 40px 20px 20px;
    border: 1px solid black;
    width: 97%;
    text-align: center;
    font-size: 40px;
    font-family: chiller;
    height: 300px;
}
