.container{
    margin: 0px 200px 0px 200px;
    background-color:white;
    border: 1px solid white;
}
h3{
    color:rgb(20, 52, 115);
    font-size: 25px;
}

th{
    text-align: right;
    width: 50%;
    color: rgb(74, 73, 73);
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica;
}
td{ text-align: left;
    width:50%
}
table{
    
    width:100%;
    
    align-items: center;

}
input{
    width: 300px;
    height: 30px;
    border:2px solid rgb(227, 221, 221) ;
    border-radius: 5px;
    font-size: 18px;

}
select{
    width: auto;
    height: 30px;
    border:2px solid rgb(227, 221, 221) ;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 102, 255);
    color: white;
}