.container {
    background-color: black;
    border: none;
    border-radius: 10px;
    width: 400px;
    margin:150px 0px 0px 500px;
    padding: 0px 0px 0px 10px;
    border-bottom:3px solid yellow ;
    border-left:3px solid yellow  ;
    border-right:3px solid red;
    border-top: 3px solid red;
}

h1 {
    color: blanchedalmond;
}

input,
textarea {
    

    background-color: black;
    padding: 10px;
    border: none;
    border-bottom: 3px solid wheat;
    border-radius: 10px;
    width: 90%;
}

button {
    width: 100px;
    height: 50px;
    padding: auto;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 20px 80px;
    pointer-events: visible;
    background-color: aqua;
    font-weight: bolder;
    
}